<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buildingImage</key>
		<string>Parcel_01.jpg</string>
		<key>buildingTitle</key>
		<string>Parcel 1</string>
		<key>buildingSite</key>
		<string>siteplan_01.png</string>
		<key>buildingSiteCaption</key>
		<string>View from NW</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-parcel-1.png</string>
		<key>buildingWeb</key>
		<string>http://1305dockstreet.com</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Parcel_02-Excelon.jpg</string>
		<key>buildingTitle</key>
		<string>Exelon</string>
		<key>buildingSite</key>
		<string>siteplan_03.png</string>
		<key>buildingSiteCaption</key>
		<string>View from SW</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-exelon.png</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>1305-DockSt.jpg</string>
		<key>buildingTitle</key>
		<string>1305 Dock Street</string>
		<key>buildingSite</key>
		<string>siteplan_10.png</string>
		<key>buildingSiteCaption</key>
		<string>View from SW</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-dock-st.png</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Parcel_04.jpg</string>
		<key>buildingTitle</key>
		<string>Parcel 4</string>
		<key>buildingSite</key>
		<string>siteplan_06.png</string>
		<key>buildingSiteCaption</key>
		<string>View from SW</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-parcel-4.png</string>
		<key>buildingWeb</key>
		<string>http://1305dockstreet.com</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Point_Street_Apt.jpg</string>
		<key>buildingTitle</key>
		<string>Point Street Apt.</string>
		<key>buildingSite</key>
		<string>siteplan_05.png</string>
		<key>buildingSiteCaption</key>
		<string>View from SE</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-point-st.png</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Thames_Street_Wharf.jpg</string>
		<key>buildingTitle</key>
		<string>Thames Street Wharf</string>
		<key>buildingSite</key>
		<string>siteplan_02.png</string>
		<key>buildingSiteCaption</key>
		<string>View from NE</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-thames-street-wharf.png</string>
		<key>buildingWeb</key>
		<string>http://www.neoscape.com</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Wills_Street_Wharf.jpg</string>
		<key>buildingTitle</key>
		<string>Wills Street Wharf</string>
		<key>buildingSite</key>
		<string>siteplan_07.png</string>
		<key>buildingSiteCaption</key>
		<string>View from S</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-wills-wharf.png</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Parcel_03.jpg</string>
		<key>buildingTitle</key>
		<string>Parcel 3</string>
		<key>buildingSite</key>
		<string>siteplan_09.png</string>
		<key>buildingSiteCaption</key>
		<string>View from N</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-parcel-3.png</string>
		<key>buildingWeb</key>
		<string>http://1305dockstreet.com</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Harbor_Point_Park.jpg</string>
		<key>buildingTitle</key>
		<string>Harbor Point Park</string>
		<key>buildingSite</key>
		<string>siteplan_08.png</string>
		<key>buildingSiteCaption</key>
		<string>View from W</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-point-park.png</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Central_Plaza.jpg</string>
		<key>buildingTitle</key>
		<string>Central Plaza</string>
		<key>buildingSite</key>
		<string>siteplan_04.png</string>
		<key>buildingSiteCaption</key>
		<string>View from E</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-central-plaza.png</string>
		<key>buildingWeb</key>
		<string>http://1305dockstreet.com</string>
	</dict>
</array>
</plist>
