<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>Parcel_01.jpg</string>
		<key>title</key>
		<string>History</string>
		<key>siteplan</key>
		<string>siteplan_01.png</string>
		<key>caption</key>
		<string>View from NW</string>
		<key>galleryname</key>
		<string>gallery name</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Thames_Street_Wharf.jpg</string>
		<key>title</key>
		<string>Trends</string>
        <key>siteplan</key>
        <string>siteplan_01.png</string>
        <key>caption</key>
        <string>View from NW</string>
        <key>galleryname</key>
        <string>gallery name</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Parcel_02-Excelon.jpg</string>
		<key>title</key>
		<string>Trends</string>
        <key>siteplan</key>
        <string>siteplan_01.png</string>
        <key>caption</key>
        <string>View from NW</string>
        <key>galleryname</key>
        <string>gallery name</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Central_Plaza.jpg</string>
		<key>title</key>
		<string>Trends</string>
        <key>siteplan</key>
        <string>siteplan_01.png</string>
        <key>caption</key>
        <string>View from NW</string>
        <key>galleryname</key>
        <string>gallery name</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Point_Street_Apt.jpg</string>
		<key>title</key>
		<string>Trends</string>
        <key>siteplan</key>
        <string>siteplan_01.png</string>
        <key>caption</key>
        <string>View from NW</string>
        <key>galleryname</key>
        <string>gallery name</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Parcel_04.jpg</string>
		<key>title</key>
		<string>Trends</string>
        <key>siteplan</key>
        <string>siteplan_01.png</string>
        <key>caption</key>
        <string>View from NW</string>
        <key>galleryname</key>
        <string>gallery name</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Wills_Street_Wharf.jpg</string>
		<key>title</key>
		<string>Trends</string>
        <key>siteplan</key>
        <string>siteplan_01.png</string>
        <key>caption</key>
        <string>View from NW</string>
        <key>galleryname</key>
        <string>gallery name</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Harbor_Point_Park.jpg</string>
		<key>title</key>
		<string>Trends</string>
        <key>siteplan</key>
        <string>siteplan_01.png</string>
        <key>caption</key>
        <string>View from NW</string>
        <key>galleryname</key>
        <string>gallery name</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Parcel_03.jpg</string>
		<key>title</key>
		<string>Trends</string>
        <key>siteplan</key>
        <string>siteplan_01.png</string>
        <key>caption</key>
        <string>View from NW</string>
        <key>galleryname</key>
        <string>gallery name</string>
	</dict>
</array>
</plist>
