<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buildingImage</key>
		<string>Parcel_01.jpg</string>
		<key>buildingTitle</key>
		<string>Parcel 1</string>
		<key>buildingSite</key>
		<string>siteplan_p1</string>
		<key>buildingSiteCaption</key>
		<string>View from NW</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-parcel-1</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Parcel_02-Excelon.jpg</string>
		<key>buildingTitle</key>
		<string>Exelon</string>
		<key>buildingSite</key>
		<string>siteplan_exelon</string>
		<key>buildingSiteCaption</key>
		<string>View from SW</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-exelon</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>1305-DockSt.jpg</string>
		<key>buildingTitle</key>
		<string>1305 Dock Street</string>
		<key>buildingSite</key>
		<string>siteplan_10.png</string>
		<key>buildingSiteCaption</key>
		<string>View from SW</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-1305-dock-st</string>
		<key>buildingWeb</key>
		<string>http://www.1305DockStreet.com</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Parcel_04.jpg</string>
		<key>buildingTitle</key>
		<string>Parcel 4</string>
		<key>buildingSite</key>
		<string>siteplan_p4</string>
		<key>buildingSiteCaption</key>
		<string>View from SW</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-parcel-4</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Point_Street_Apt.jpg</string>
		<key>buildingTitle</key>
		<string>1405 Point</string>
		<key>buildingSite</key>
		<string>siteplan_pointst</string>
		<key>buildingSiteCaption</key>
		<string>View from SE</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-1405-point</string>
		<key>buildingWeb</key>
		<string>http://www.1405Point.com</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Thames_Street_Wharf.jpg</string>
		<key>buildingTitle</key>
		<string>Thames Street Wharf</string>
		<key>buildingSite</key>
		<string>siteplan_thamesst</string>
		<key>buildingSiteCaption</key>
		<string>View from NE</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-thames-street-wharf</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Wills_Street_Wharf.jpg</string>
		<key>buildingTitle</key>
		<string>Wills Wharf</string>
		<key>buildingSite</key>
		<string>siteplan_willsst</string>
		<key>buildingSiteCaption</key>
		<string>View from S</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-wills-wharf</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Parcel_03.jpg</string>
		<key>buildingTitle</key>
		<string>Parcel 3</string>
		<key>buildingSite</key>
		<string>siteplan_p3</string>
		<key>buildingSiteCaption</key>
		<string>View from N</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-parcel-3</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Harbor_Point_Park.jpg</string>
		<key>buildingTitle</key>
		<string>Harbor Point Park</string>
		<key>buildingSite</key>
		<string>siteplan_hppark</string>
		<key>buildingSiteCaption</key>
		<string>View from W</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-harbor-point-park</string>
	</dict>
	<dict>
		<key>buildingImage</key>
		<string>Central_Plaza.jpg</string>
		<key>buildingTitle</key>
		<string>Central Plaza</string>
		<key>buildingSite</key>
		<string>siteplan_centralplaza</string>
		<key>buildingSiteCaption</key>
		<string>View from E</string>
		<key>buildingGallery</key>
		<string>gallery name</string>
		<key>buildingStats</key>
		<string>parcel-panel-central-plaza</string>
	</dict>
</array>
</plist>
