<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SectionName</key>
		<string>Harbor Point</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_3D.jpg</string>
				<key>albumcaption</key>
				<string>AAC Visitors Profile</string>
				<key>assets</key>
				<array>
					<string>Central_Plaza.jpg</string>
					<string>Harbor_Point_Park.jpg</string>
					<string>Parcel_01.jpg</string>
					<string>Parcel_02-Excelon.jpg</string>
					<string>Parcel_03.jpg</string>
					<string>Parcel_04.jpg</string>
					<string>Point_Street_Apt.jpg</string>
					<string>Thames_Street_Wharf.jpg</string>
					<string>Wills_Street_Wharf.jpg</string>
					<string>Neoscape_BeattyDevelopment_Aerial02_FINAL.jpg</string>
					<string>Neoscape_BeattyDevelopment_HarborView_FINAL.jpg</string>
					<string>Neoscape_BeattyDevelopment_Aerial01_FINAL.jpg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>share_Central_Plaza.jpg</string>
					<string>share_Harbor_Point_Park.jpg</string>
					<string>share_Parcel_01.jpg</string>
					<string>share_Parcel_02-Excelon.jpg</string>
					<string>share_Parcel_03.jpg</string>
					<string>share_Parcel_04.jpg</string>
					<string>share_Point_Street_Apt.jpg</string>
					<string>share_Thames_Street_Wharf.jpg</string>
					<string>share_Wills_Street_Wharf.jpg</string>
					<string>share_Wills_Street_Wharf.jpg</string>
					<string>share_Wills_Street_Wharf.jpg</string>
					<string>share_Wills_Street_Wharf.jpg</string>
				</array>
				<key>captions</key>
				<array>
					<string>Central Plaza</string>
					<string>Harbor Point Park</string>
					<string>Parcel 1</string>
					<string>Exelon Building</string>
					<string>Parcel 3</string>
					<string>Parcel 4</string>
					<string>1405 Point</string>
					<string>Thames Street Wharf</string>
					<string>Wills Wharf</string>
					<string>Ariel View 1</string>
					<string>Ariel View 2</string>
					<string>Harbor View</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Exelon Building</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>15-0202_overall south west.jpg</string>
					<string>Exelon-Retail-View-3.jpg</string>
					<string>Neoscape_BeattyDevelopmentHarbor Point_ExcelonRetail_FINAL.jpg</string>
					<string>View02_Final.jpg</string>
					<string>Exelon - LEVEL 1 - D1-D4.jpeg</string>
					<string>Exelon Level 2 P1-P8.jpeg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>15-0202_overall south west.jpg</string>
					<string>Exelon-Retail-View-3.jpg</string>
					<string>Neoscape_BeattyDevelopmentHarbor Point_ExcelonRetail_FINAL.jpg</string>
					<string>View02_Final.jpg</string>
					<string>Exelon - LEVEL 1 - D1-D4.jpeg</string>
					<string>Exelon Level 2 P1-P8.jpeg</string>
				</array>
				<key>captions</key>
				<array>
					<string>Southwest View</string>
					<string></string>
					<string></string>
					<string></string>
					<string>Floor Plan Level 1</string>
					<string>Floor Plan Level 2</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>1305 Dock Street</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>Apartment Entrance_20160321-2.jpg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>Apartment Entrance_20160321-2.jpg</string>
				</array>
				<key>captions</key>
				<array>
					<string>Entrance</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Parcel 4</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>parcel 4 drawing shot a.jpg</string>
					<string>parcel 4 shot b.jpg</string>
					<string>parcel 4 shot c.jpg</string>
					<string>Parcel 4 floorplan.jpeg</string>
					<string>Parcel 4 floorplan 2.jpeg</string>
					<string>Parcel 4 floorplan 3.jpeg</string>
					<string>Parcel 4 floorplan 4.jpeg</string>
					<string>Parcel 4 floorplan 5.jpeg</string>
					<string>Parcel 4 floorplan 6.jpeg</string>
					<string>Parcel 4 floorplan 7.jpeg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>parcel 4 drawing shot a.jpg</string>
					<string>parcel 4 shot b.jpg</string>
					<string>parcel 4 shot c.jpg</string>
					<string>Parcel 4 floorplan.jpeg</string>
					<string>Parcel 4 floorplan 2.jpeg</string>
					<string>Parcel 4 floorplan 3.jpeg</string>
					<string>Parcel 4 floorplan 4.jpeg</string>
					<string>Parcel 4 floorplan 5.jpeg</string>
					<string>Parcel 4 floorplan 6.jpeg</string>
					<string>Parcel 4 floorplan 7.jpeg</string>
				</array>
				<key>captions</key>
				<array>
					<string>View 1</string>
					<string>View 2</string>
					<string>View 3</string>
					<string>Floor Plan Lower Level</string>
					<string>Floor Plan Level 2</string>
					<string>Floor Plan Level 3-4</string>
					<string>Floor Plan Level 5</string>
					<string>Floor Plan Level 6</string>
					<string>Floor Plan Level 7</string>
					<string>Floor Plan Level 8-22</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>1405 Point</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>C01.jpg</string>
					<string>C02[1].jpg</string>
					<string>c03_B CROPPED - revised with corner windows.jpg</string>
					<string>Point Street Landscape.png</string>
					<string>Point Street Plaza Plan.png</string>
					<string>Point Street Plaza.png</string>
					<string>Point St 2nd level.jpeg</string>
					<string>Point Street 1st level.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 2.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 3.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 4.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 5.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 6.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 7.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 8.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 9.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 10.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 11.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 12.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 13.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 14.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 15.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 16.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 17.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 18.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 20.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 21.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 22.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 23.jpeg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>C01.jpg</string>
					<string>C02[1].jpg</string>
					<string>c03_B CROPPED - revised with corner windows.jpg</string>
					<string>Point Street Landscape.png</string>
					<string>Point Street Plaza Plan.png</string>
					<string>Point Street Plaza.png</string>
					<string>Point St 2nd level.jpeg</string>
					<string>Point Street 1st level.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 2.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 3.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 4.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 5.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 6.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 7.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 8.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 9.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 10.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 11.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 12.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 13.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 14.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 15.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 16.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 17.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 18.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 20.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 21.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 22.jpeg</string>
					<string>Point Street_Design Development_Final_01.15.2015 23.jpeg</string>
				</array>
				<key>captions</key>
				<array>
					<string>View 1</string>
					<string>View 2</string>
					<string>View 3</string>
					<string>Plaza 1</string>
					<string>Plaza 2</string>
					<string>Plaza 3</string>
					<string>Floor Plan Level 1</string>
					<string>Floor Plan Level 2</string>
					<string></string>
					<string>Design 1</string>
					<string>Design 2</string>
					<string>Birds Eye View</string>
					<string>Lobby Entrance</string>
					<string>Lobby</string>
					<string>Entry to Lounge</string>
					<string>Lounge 1</string>
					<string>Lounge 2</string>
					<string>Lounge 3</string>
					<string>Lounge 4</string>
					<string>Media Lounge</string>
					<string>Furnishings</string>
					<string>Floor 11</string>
					<string>Dining Room</string>
					<string>Fitness Center 1</string>
					<string>Fitness Center 2</string>
					<string>Fitness Center 3</string>
					<string></string>
					<string>Corridor Design 1</string>
					<string>Corridor Design 2</string>
					<string>Entry Door Design</string>
					<string>Elevator Lobby Design</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Thames Street Wharf</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>1.JPG</string>
					<string>Thames Street 1.jpg</string>
					<string>Thames Street 3.jpg</string>
					<string>Thames Street 5.jpg</string>
					<string>Thames Street 6.jpg</string>
					<string>thames.st.out.n2.jpg</string>
					<string>thames.st.out.q.jpg</string>
					<string>TSW Grand Opening.jpeg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>1.JPG</string>
					<string>Thames Street 1.jpg</string>
					<string>Thames Street 3.jpg</string>
					<string>Thames Street 5.jpg</string>
					<string>Thames Street 6.jpg</string>
					<string>thames.st.out.n2.jpg</string>
					<string>thames.st.out.q.jpg</string>
					<string>TSW Grand Opening.jpeg</string>
				</array>
				<key>captions</key>
				<array>
					<string>View 1</string>
					<string>View 2</string>
					<string>Hallway</string>
					<string>Lobby</string>
					<string>View 3</string>
					<string>View 4</string>
					<string>View 5</string>
					<string>View 6</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Wills Wharf</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>0504 Wills Wharf c1 OP1 3t.jpg</string>
					<string>0504 Wills Wharf c1 OP2 3t.jpg</string>
					<string>0928+LI+Copier+c1+4t (1).jpg</string>
					<string>0928+LI+Copier+c2+3t (1).jpg</string>
					<string>F-OFFICE-ENTRY-1 copy.jpg</string>
					<string>F-OFFICE-ENTRY-2 copy.jpg</string>
					<string>I2411 Canopy Baltimore - Bar MD05.jpg</string>
					<string>I2411 Canopy Baltimore - King Guestroom MD05_PS_FINAL.jpg</string>
					<string>I2411 Canopy Baltimore - Restaurant MD04.jpg</string>
					<string>I2411 Canopy Baltimore - Retreat MD03.jpg</string>
					<string>PLAZA BIRD EYE VIEW-2.jpg</string>
					<string>PLAZA-birds eye view copy.jpg</string>
					<string>VIEW-South-Far View-Phase-2.jpg</string>
					<string>VIEW-South-Far View.jpg</string>
					<string>WILLS-South-Close View-Phase2.jpg</string>
					<string>WILLS-South-Close View.jpg</string>
					<string>Harbor Point Flyer - Print.jpeg</string>
					<string>Harbor Point Flyer - Print 2.jpeg</string>
					<string>Harbor Point Flyer - Print 3.jpeg</string>
					<string>Harbor Point Flyer - Print 4.jpeg</string>
					<string>Harbor Point Flyer - Print 5.jpeg</string>
					<string>Harbor Point Flyer - Print 6.jpeg</string>
					<string>Harbor Point Flyer - Print 7.jpeg</string>
					<string>Harbor Point Flyer - Print 8.jpeg</string>
					<string>Harbor Point Flyer - Print 9.jpeg</string>
					<string>Harbor Point Flyer - Print 10.jpeg</string>
					<string>Hotel-final-Canopy-signage.jpg</string>
					<string>2_12a Wills Plot.jpeg</string>
					<string>2_12a Wills Plot 2.jpeg</string>
					<string>2_12a Wills Plot 3.jpeg</string>
					<string>2_12a Wills Plot 4.jpeg</string>
					<string>2_12a Wills Plot 5.jpeg</string>
					<string>2_12a Wills Plot 6.jpeg</string>
					<string>2_12a Wills Plot 7.jpeg</string>
					<string>2_12a Wills Plot 8.jpeg</string>
					<string>2_12a Wills Plot 9.jpeg</string>
					<string>2_12a Wills Plot 10.jpeg</string>
					<string>2_12a Wills Plot 11.jpeg</string>
					<string>2_12a Wills Plot 12.jpeg</string>
					<string>2_12a Wills Plot 13.jpeg</string>
					<string>2_12a Wills Plot 14.jpeg</string>
					<string>2_12a Wills Plot 15.jpeg</string>
					<string>2_12a Wills Plot 16.jpeg</string>
					<string>2_12a Wills Plot 17.jpeg</string>
					<string>2_12a Wills Plot 18.jpeg</string>
					<string>2_12a Wills Plot 19.jpeg</string>
					<string>2_12a Wills Plot 20.jpeg</string>
					<string>2_12a Wills Plot 21.jpeg</string>
					<string>2_12a Wills Plot 22.jpeg</string>
					<string>2_12a Wills Plot 23.jpeg</string>
					<string>Wills Wharf-Retail LOD.jpeg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>0504 Wills Wharf c1 OP1 3t.jpg</string>
					<string>0504 Wills Wharf c1 OP2 3t.jpg</string>
					<string>0928+LI+Copier+c1+4t (1).jpg</string>
					<string>0928+LI+Copier+c2+3t (1).jpg</string>
					<string>F-OFFICE-ENTRY-1 copy.jpg</string>
					<string>F-OFFICE-ENTRY-2 copy.jpg</string>
					<string>I2411 Canopy Baltimore - Bar MD05.jpg</string>
					<string>I2411 Canopy Baltimore - King Guestroom MD05_PS_FINAL.jpg</string>
					<string>I2411 Canopy Baltimore - Restaurant MD04.jpg</string>
					<string>I2411 Canopy Baltimore - Retreat MD03.jpg</string>
					<string>PLAZA BIRD EYE VIEW-2.jpg</string>
					<string>PLAZA-birds eye view copy.jpg</string>
					<string>VIEW-South-Far View-Phase-2.jpg</string>
					<string>VIEW-South-Far View.jpg</string>
					<string>WILLS-South-Close View-Phase2.jpg</string>
					<string>WILLS-South-Close View.jpg</string>
					<string>Harbor Point Flyer - Print.jpeg</string>
					<string>Harbor Point Flyer - Print 2.jpeg</string>
					<string>Harbor Point Flyer - Print 3.jpeg</string>
					<string>Harbor Point Flyer - Print 4.jpeg</string>
					<string>Harbor Point Flyer - Print 5.jpeg</string>
					<string>Harbor Point Flyer - Print 6.jpeg</string>
					<string>Harbor Point Flyer - Print 7.jpeg</string>
					<string>Harbor Point Flyer - Print 8.jpeg</string>
					<string>Harbor Point Flyer - Print 9.jpeg</string>
					<string>Harbor Point Flyer - Print 10.jpeg</string>
					<string>Hotel-final-Canopy-signage.jpg</string>
					<string>2_12a Wills Plot.jpeg</string>
					<string>2_12a Wills Plot 2.jpeg</string>
					<string>2_12a Wills Plot 3.jpeg</string>
					<string>2_12a Wills Plot 4.jpeg</string>
					<string>2_12a Wills Plot 5.jpeg</string>
					<string>2_12a Wills Plot 6.jpeg</string>
					<string>2_12a Wills Plot 7.jpeg</string>
					<string>2_12a Wills Plot 8.jpeg</string>
					<string>2_12a Wills Plot 9.jpeg</string>
					<string>2_12a Wills Plot 10.jpeg</string>
					<string>2_12a Wills Plot 11.jpeg</string>
					<string>2_12a Wills Plot 12.jpeg</string>
					<string>2_12a Wills Plot 13.jpeg</string>
					<string>2_12a Wills Plot 14.jpeg</string>
					<string>2_12a Wills Plot 15.jpeg</string>
					<string>2_12a Wills Plot 16.jpeg</string>
					<string>2_12a Wills Plot 17.jpeg</string>
					<string>2_12a Wills Plot 18.jpeg</string>
					<string>2_12a Wills Plot 19.jpeg</string>
					<string>2_12a Wills Plot 20.jpeg</string>
					<string>2_12a Wills Plot 21.jpeg</string>
					<string>2_12a Wills Plot 22.jpeg</string>
					<string>2_12a Wills Plot 23.jpeg</string>
					<string>Wills Wharf-Retail LOD.jpeg</string>
				</array>
				<key>captions</key>
				<array>
                    <string>View 1</string>
                    <string>View 2</string>
                    <string>View 3</string>
                    <string>View 4</string>
                    <string>Office Entry 1</string>
                    <string>Office Entry 2</string>
                    <string>Canopy 1</string>
                    <string>Canopy 2</string>
                    <string>Canopy 3</string>
                    <string>Canopy 4</string>
                    <string>Birds Eye View 1</string>
                    <string>Birds Eye View 2</string>
                    <string>Far South View 1</string>
                    <string>Far South View 2</string>
                    <string>South Close View 1</string>
                    <string>South Close View 2</string>
                    <string>Harbor Point Flyer - Print.jpeg</string>
					<string>Harbor Point Flyer - Print 2.jpeg</string>
					<string>Harbor Point Flyer - Print 3.jpeg</string>
					<string>Harbor Point Flyer - Print 4.jpeg</string>
					<string>Harbor Point Flyer - Print 5.jpeg</string>
					<string>Harbor Point Flyer - Print 6.jpeg</string>
					<string>Harbor Point Flyer - Print 7.jpeg</string>
					<string>Harbor Point Flyer - Print 8.jpeg</string>
					<string>Harbor Point Flyer - Print 9.jpeg</string>
					<string>Harbor Point Flyer - Print 10.jpeg</string>
					<string>Hotel-final-Canopy-signage.jpg</string>
					<string>2 12a Wills Plot</string>
                    <string>Floor Plan Garage</string>
                    <string>Floor Plan Level 1</string>
                    <string>Floor Plan Level 2</string>
                    <string>Floor Plan Level 3</string>
                    <string>Floor Plan Office Level</string>
                    <string>Floor Plan Level 9</string>
                    <string>Floor Plan Penthouse</string>
                    <string>Roof Construction</string>
                    <string>West Elevation</string>
                    <string>East Elevation</string>
                    <string>North and South Elevations</string>
                    <string>Enlarged Elevation 1</string>
                    <string>Enlarged Elevation 2</string>
                    <string>Enlarged Elevation 3</string>
                    <string>Enlarged Elevation 4</string>
                    <string>Enlarged Elevation 5</string>
                    <string>Building Section 1</string>
                    <string>Building Section 2</string>
                    <string>Building Section 3</string>
                    <string>Building Section 4</string>
                    <string>Wall Sections 1</string>
                    <string>Wall Sections 2</string>
                    <string>Retail</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Parcel 3</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>Parcel 3.png</string>
					<string>Parcel 3.1.png</string>
					<string>Parcel 3.jpeg</string>
					<string>Parcel 3 2.jpeg</string>
					<string>Parcel 3 3.jpeg</string>
					<string>Parcel 3 4.jpeg</string>
					<string>Parcel 3 5.jpeg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>Parcel 3.png</string>
					<string>Parcel 3.1.png</string>
					<string>Parcel 3.jpeg</string>
					<string>Parcel 3 2.jpeg</string>
					<string>Parcel 3 3.jpeg</string>
					<string>Parcel 3 4.jpeg</string>
					<string>Parcel 3 5.jpeg</string>
				</array>
				<key>captions</key>
				<array>
					<string>View 1</string>
					<string>View 2</string>
					<string>Promenade Level</string>
					<string>Plaza Park Level</string>
					<string>Pedestal Level</string>
					<string>Amenity Level</string>
					<string>Tower Levels</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Harbor Point Park</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>Neoscape_BeattyDevelopmentHarbor Point_Aerial01_FINAL.jpg</string>
					<string>Neoscape_BeattyDevelopmentHarbor Point_HarborView_FINAL.jpg</string>
					<string>Neoscape_BeattyDevelopmentHarbor Point_ParkAlt View_FINAL.jpg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>Neoscape_BeattyDevelopmentHarbor Point_Aerial01_FINAL.jpg</string>
					<string>Neoscape_BeattyDevelopmentHarbor Point_HarborView_FINAL.jpg</string>
					<string>Neoscape_BeattyDevelopmentHarbor Point_ParkAlt View_FINAL.jpg</string>
				</array>
				<key>captions</key>
				<array>
					<string>View 1</string>
					<string>View 2</string>
					<string>View 3</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Parcel 1</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>Parcel 1.1.png</string>
					<string>Parcel 1.2.png</string>
					<string>Parcel 1.3.png</string>
					<string>Parcel 1.4.png</string>
					<string>parcel 1 shot a.jpg</string>
					<string>parcel 1 shot b.jpg</string>
					<string>Parcel 1.jpeg</string>
					<string>Parcel 1 2.jpeg</string>
					<string>Parcel 1 3.jpeg</string>
					<string>Parcel 1 4.jpeg</string>
					<string>Parcel 1 5.jpeg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>Parcel 1.1.png</string>
					<string>Parcel 1.2.png</string>
					<string>Parcel 1.3.png</string>
					<string>Parcel 1.4.png</string>
					<string>parcel 1 shot a.jpg</string>
					<string>parcel 1 shot b.jpg</string>
					<string>Parcel 1.jpeg</string>
					<string>Parcel 1 2.jpeg</string>
					<string>Parcel 1 3.jpeg</string>
					<string>Parcel 1 4.jpeg</string>
					<string>Parcel 1 5.jpeg</string>
				</array>
				<key>captions</key>
				<array>
					<string>View 1</string>
					<string>View 2</string>
					<string>View 3</string>
					<string>View 4</string>
					<string>Rendering 1</string>
					<string>Rendering 2</string>
					<string>Garage Level</string>
					<string>Plaza Level</string>
					<string>Podium Level 2</string>
					<string>Podium Levels 3-6</string>
					<string>Podium Levels 7+</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Central Plaza</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>Neoscape_BeattyDevelopmentHarbor Point_CentralPlaza_FINAL.jpg</string>
					<string>Central Plaza 1.png</string>
					<string>Central Plaza 2.png</string>
					<string>Central Plaza3.png</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>Neoscape_BeattyDevelopmentHarbor Point_CentralPlaza_FINAL.jpg</string>
					<string>Central Plaza 1.png</string>
					<string>Central Plaza 2.png</string>
					<string>Central Plaza3.png</string>
				</array>
				<key>captions</key>
				<array>
					<string>View 1</string>
					<string>View 2</string>
					<string>View 3</string>
					<string>View 4</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Construction - Aerial Views</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>image001.png</string>
					<string>image002.png</string>
					<string>image003.png</string>
					<string>image008.png</string>
					<string>image009.png</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>share_image001.png</string>
					<string>share_image002.png</string>
					<string>share_image003.png</string>
					<string>share_image008.png</string>
					<string>share_image009.png</string>
				</array>
				<key>captions</key>
				<array>
					<string>View 1</string>
					<string>View 2</string>
					<string>View 3</string>
					<string>View 4</string>
					<string>View 5</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Harbor East</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>H and S Formal - 1.jpg</string>
					<string>H and S Formal - 16.jpg</string>
					<string>H and S Formal - 19.jpg</string>
					<string>H and S Formal - 20.jpg</string>
					<string>H and S Formal - 25.jpg</string>
					<string>H and S Formal - 26.jpg</string>
					<string>H and S Formal - 27.jpg</string>
					<string>H and S Formal - 28.jpg</string>
					<string>H and S Formal - 44.jpg</string>
					<string>H and S Formal - 47.jpg</string>
					<string>H and S Formal - 48.jpg</string>
					<string>H and S Formal - 63.jpg</string>
					<string>H and S Formal - 66.jpg</string>
					<string>H and S Formal - 67.jpg</string>
					<string>H and S Formal - 72.jpg</string>
					<string>H and S Formal - 91.jpg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>share_H and S Formal - 1.jpg</string>
					<string>share_H and S Formal - 16.jpg</string>
					<string>share_H and S Formal - 19.jpg</string>
					<string>share_H and S Formal - 20.jpg</string>
					<string>share_H and S Formal - 25.jpg</string>
					<string>share_H and S Formal - 26.jpg</string>
					<string>share_H and S Formal - 27.jpg</string>
					<string>share_H and S Formal - 28.jpg</string>
					<string>share_H and S Formal - 44.jpg</string>
					<string>share_H and S Formal - 47.jpg</string>
					<string>share_H and S Formal - 48.jpg</string>
					<string>share_H and S Formal - 63.jpg</string>
					<string>share_H and S Formal - 66.jpg</string>
					<string>share_H and S Formal - 67.jpg</string>
					<string>share_H and S Formal - 72.jpg</string>
					<string>share_H and S Formal - 91.jpg</string>
				</array>
				<key>captions</key>
				<array>
					<string>View 1</string>
					<string>View 2</string>
					<string>View 3</string>
					<string>View 4</string>
					<string>View 5</string>
					<string>View 6</string>
					<string>View 6</string>
					<string>View 7</string>
					<string>View 8</string>
					<string>View 9</string>
					<string>View 10</string>
					<string>View 11</string>
					<string>View 11</string>
					<string>View 12</string>
					<string>View 13</string>
					<string>View 14</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>DOCUMENTS</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>pdf</string>
				<key>albumthumb</key>
				<string></string>
				<key>albumcaption</key>
				<string></string>
				<key>assets</key>
				<array>
					<string>BeattyDev@gmail.com_20150521_084823.pdf</string>
					<string>Harbor Point 2.0_sml.pdf</string>
					<string>Harbor Point 2.0-4.pdf</string>
					<string>Harbor Point 2.0.pdf</string>
					<string>Harbor_Point_Leasing_Brochure_sml.pdf</string>
					<string>Point Street_UDARP 03_01-21-15 AM Mod_sml.pdf</string>
					<string>Canopy Brochure.pdf</string>
					<string>EZ Info Sheet 2014 V2 PDF.pdf</string>
					<string>Maryland Financing  Incentives120915 (3).pdf</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>share_BeattyDev@gmail.com_20150521_084823.jpg</string>
					<string>share_Harbor Point 2.0_sml.jpg</string>
					<string>share_Harbor Point 2.0-4.jpg</string>
					<string>share_Harbor Point 2.0.jpg</string>
					<string>share_Harbor_Point_Leasing_Brochure_sml.jpg</string>
					<string>share_Point Street_UDARP 03_01-21-15 AM Mod_sml.jpg</string>
					<string>share_Canopy Brochure-1.jpg</string>
					<string>share_EZ Info Sheet 2014 V2 PDF-2.jpg</string>
					<string>share_Maryland Financing  Incentives120915 (3)-1.jpg</string>
				</array>
				<key>captions</key>
				<array>
					<string>BeattyDev@gmail.com_20150521_084823.pdf</string>
					<string>Harbor Point 2.0_sml.pdf</string>
					<string>Harbor Point 2.0-4.pdf</string>
					<string>Harbor Point 2.0.pdf</string>
					<string>Harbor_Point_Leasing_Brochure_sml.pdf</string>
					<string>Point Street_UDARP 03_01-21-15 AM Mod_sml.pdf</string>
					<string>Canopy Brochure.pdf</string>
					<string>EZ Info Sheet 2014 V2 PDF.pdf</string>
					<string>Maryland Financing  Incentives120915 (3).pdf</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
