<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SectionName</key>
		<string>3D ILLUSTRATIONS</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_3D.jpg</string>
				<key>albumcaption</key>
				<string>AAC Visitors Profile</string>
				<key>assets</key>
				<array>
					<string>Central_Plaza.jpg</string>
					<string>Harbor_Point_Park.jpg</string>
					<string>Parcel_01.jpg</string>
					<string>Parcel_02-Excelon.jpg</string>
					<string>Parcel_03.jpg</string>
					<string>Parcel_04.jpg</string>
					<string>Point_Street_Apt.jpg</string>
					<string>Thames_Street_Wharf.jpg</string>
					<string>Wills_Street_Wharf.jpg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>share_Central_Plaza.jpg</string>
					<string>share_Harbor_Point_Park.jpg</string>
					<string>share_Parcel_01.jpg</string>
					<string>share_Parcel_02-Excelon.jpg</string>
					<string>share_Parcel_03.jpg</string>
					<string>share_Parcel_04.jpg</string>
					<string>share_Point_Street_Apt.jpg</string>
					<string>share_Thames_Street_Wharf.jpg</string>
					<string>share_Wills_Street_Wharf.jpg</string>
				</array>
				<key>captions</key>
				<array>
					<string>Central Plaza</string>
					<string>Harbor Point Park</string>
					<string>Parcel 01</string>
					<string>Parcel 02 - Exelon</string>
					<string>Parcel 03</string>
					<string>Parcel 04</string>
					<string>Point Street Apartment</string>
					<string>Thames Street Wharf</string>
					<string>Wills Street Wharf</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Architectural Renderings</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_architecture.jpg</string>
				<key>albumcaption</key>
				<string>Architectural Renderings</string>
				<key>assets</key>
				<array>
					<string>9-22-14 fins on south west-alternative.jpg</string>
					<string>2014.10.31 Master Plan Rendering.jpg</string>
					<string>2015-3-1-First Finance-OPT-2-Water-Red brick.jpg</string>
					<string>Apartment_R01.jpg</string>
					<string>C01.jpg</string>
					<string>C02.jpg</string>
					<string>c03_B CROPPED - revised with corner windows.jpg</string>
					<string>Central Plaza 1.jpg</string>
					<string>Central Plaza 2.jpg</string>
					<string>Exelon-Retail-View-1.jpg</string>
					<string>Exelon-Retail-View-2.jpg</string>
					<string>Exelon-Retail-View-3.jpg</string>
					<string>Lobby_R01.jpg</string>
					<string>Lounge_R01.jpg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>share_9-22-14 fins on south west-alternative.jpg</string>
					<string>share_2014.10.31 Master Plan Rendering.jpg</string>
					<string>share_2015-3-1-First Finance-OPT-2-Water-Red brick.jpg</string>
					<string>share_Apartment_R01.jpg</string>
					<string>share_C01.jpg</string>
					<string>share_C02.jpg</string>
					<string>share_c03_B CROPPED - revised with corner windows.jpg</string>
					<string>share_Central Plaza 1.jpg</string>
					<string>share_Central Plaza 2.jpg</string>
					<string>share_Exelon-Retail-View-1.jpg</string>
					<string>share_Exelon-Retail-View-2.jpg</string>
					<string>share_Exelon-Retail-View-3.jpg</string>
					<string>share_Lobby_R01.jpg</string>
					<string>share_Lounge_R01.jpg</string>
				</array>
				<key>captions</key>
				<array>
					<string>9-22-14 fins on south west-alternative.jpg</string>
					<string>2014.10.31 Master Plan Rendering.jpg</string>
					<string>2015-3-1-First Finance-OPT-2-Water-Red brick.jpg</string>
					<string>Apartment_R01.jpg</string>
					<string>C01.jpg</string>
					<string>C02.jpg</string>
					<string>c03_B CROPPED - revised with corner windows.jpg</string>
					<string>Central Plaza 1.jpg</string>
					<string>Central Plaza 2.jpg</string>
					<string>Exelon-Retail-View-1.jpg</string>
					<string>Exelon-Retail-View-2.jpg</string>
					<string>Exelon-Retail-View-3.jpg</string>
					<string>Lobby_R01.jpg</string>
					<string>Lounge_R01.jpg</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Photos - Construction Aerials</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>image001.png</string>
					<string>image002.png</string>
					<string>image003.png</string>
					<string>image008.png</string>
					<string>image009.png</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>share_image001.png</string>
					<string>share_image002.png</string>
					<string>share_image003.png</string>
					<string>share_image008.png</string>
					<string>share_image009.png</string>
				</array>
				<key>captions</key>
				<array>
					<string>image001.png</string>
					<string>image002.png</string>
					<string>image003.png</string>
					<string>image008.png</string>
					<string>image009.png</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Photos - Thames St. Wharf</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>H and S Formal - 105.jpg</string>
					<string>H and S Formal - 106.jpg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>share_H and S Formal - 105.jpg</string>
					<string>share_H and S Formal - 106.jpg</string>
				</array>
				<key>captions</key>
				<array>
					<string>H and S Formal - 105.jpg</string>
					<string>H and S Formal - 106.jpg</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Photos - Harbor East</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>image</string>
				<key>albumthumb</key>
				<string>thumb_photo.jpg</string>
				<key>albumcaption</key>
				<string>Aerial Photos</string>
				<key>assets</key>
				<array>
					<string>H and S Formal - 1.jpg</string>
					<string>H and S Formal - 16.jpg</string>
					<string>H and S Formal - 19.jpg</string>
					<string>H and S Formal - 20.jpg</string>
					<string>H and S Formal - 25.jpg</string>
					<string>H and S Formal - 26.jpg</string>
					<string>H and S Formal - 27.jpg</string>
					<string>H and S Formal - 28.jpg</string>
					<string>H and S Formal - 44.jpg</string>
					<string>H and S Formal - 47.jpg</string>
					<string>H and S Formal - 48.jpg</string>
					<string>H and S Formal - 63.jpg</string>
					<string>H and S Formal - 66.jpg</string>
					<string>H and S Formal - 67.jpg</string>
					<string>H and S Formal - 72.jpg</string>
					<string>H and S Formal - 91.jpg</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>share_H and S Formal - 1.jpg</string>
					<string>share_H and S Formal - 16.jpg</string>
					<string>share_H and S Formal - 19.jpg</string>
					<string>share_H and S Formal - 20.jpg</string>
					<string>share_H and S Formal - 25.jpg</string>
					<string>share_H and S Formal - 26.jpg</string>
					<string>share_H and S Formal - 27.jpg</string>
					<string>share_H and S Formal - 28.jpg</string>
					<string>share_H and S Formal - 44.jpg</string>
					<string>share_H and S Formal - 47.jpg</string>
					<string>share_H and S Formal - 48.jpg</string>
					<string>share_H and S Formal - 63.jpg</string>
					<string>share_H and S Formal - 66.jpg</string>
					<string>share_H and S Formal - 67.jpg</string>
					<string>share_H and S Formal - 72.jpg</string>
					<string>share_H and S Formal - 91.jpg</string>
				</array>
				<key>captions</key>
				<array>
					<string>H and S Formal - 1.jpg</string>
					<string>H and S Formal - 16.jpg</string>
					<string>H and S Formal - 19.jpg</string>
					<string>H and S Formal - 20.jpg</string>
					<string>H and S Formal - 25.jpg</string>
					<string>H and S Formal - 26.jpg</string>
					<string>H and S Formal - 27.jpg</string>
					<string>H and S Formal - 28.jpg</string>
					<string>H and S Formal - 44.jpg</string>
					<string>H and S Formal - 47.jpg</string>
					<string>H and S Formal - 48.jpg</string>
					<string>H and S Formal - 63.jpg</string>
					<string>H and S Formal - 66.jpg</string>
					<string>H and S Formal - 67.jpg</string>
					<string>H and S Formal - 72.jpg</string>
					<string>H and S Formal - 91.jpg</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>Floor Plans</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>pdf</string>
				<key>albumthumb</key>
				<string>thumb_david.jpg</string>
				<key>albumcaption</key>
				<string>Photos 1</string>
				<key>assets</key>
				<array>
					<string>BeattyDev@gmail.com_20150821_122743.pdf</string>
					<string>Exelon office and apartment plans 2-14-13.pdf</string>
					<string>A101-C - 1st Floor (Garage Level) Plan-2nd Floor (Park Level) (1).pdf</string>
					<string>Point St. Permit Set without Landscape(Resubmission) (dragged) 1.pdf</string>
					<string>Point St. Permit Set without Landscape(Resubmission) (dragged).pdf</string>
					<string>2015.06.18 Wills Street Package .pdf</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>BeattyDev@gmail.com_20150821_122743.jpg</string>
					<string>Exelon office and apartment plans 2-14-13.jpg</string>
					<string>A101-C - 1st Floor (Garage Level) Plan-2nd Floor (Park Level) (1).jpg</string>
					<string>Point St. Permit Set without Landscape(Resubmission) (dragged) 1.jpg</string>
					<string>Point St. Permit Set without Landscape(Resubmission) (dragged).jpg</string>
					<string>2015.06.18 Wills Street Package .jpg</string>
				</array>
				<key>captions</key>
				<array>
					<string>BeattyDev@gmail.com_20150821_122743.pdf</string>
					<string>Exelon office and apartment plans 2-14-13.pdf</string>
					<string>A101-C - 1st Floor (Garage Level) Plan-2nd Floor (Park Level) (1).pdf</string>
					<string>Point St. Permit Set without Landscape(Resubmission) (dragged) 1.pdf</string>
					<string>Point St. Permit Set without Landscape(Resubmission) (dragged).pdf</string>
					<string>2015.06.18 Wills Street Package .pdf</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionName</key>
		<string>DOCUMENTS</string>
		<key>sectioninfo</key>
		<array>
			<dict>
				<key>albumtype</key>
				<string>pdf</string>
				<key>albumthumb</key>
				<string></string>
				<key>albumcaption</key>
				<string></string>
				<key>assets</key>
				<array>
					<string>BeattyDev@gmail.com_20150521_084823.pdf</string>
					<string>Harbor Point 2.0_sml.pdf</string>
					<string>Harbor Point 2.0-4.pdf</string>
					<string>Harbor Point 2.0.pdf</string>
					<string>Harbor_Point_Leasing_Brochure_sml.pdf</string>
					<string>Point Street_UDARP 03_01-21-15 AM Mod_sml.pdf</string>
				</array>
				<key>thumbs</key>
				<array>
					<string>share_BeattyDev@gmail.com_20150521_084823.jpg</string>
					<string>share_Harbor Point 2.0_sml.jpg</string>
					<string>share_Harbor Point 2.0-4.jpg</string>
					<string>share_Harbor Point 2.0.jpg</string>
					<string>share_Harbor_Point_Leasing_Brochure_sml.jpg</string>
					<string>share_Point Street_UDARP 03_01-21-15 AM Mod_sml.jpg</string>
				</array>
				<key>captions</key>
				<array>
					<string>BeattyDev@gmail.com_20150521_084823.pdf</string>
					<string>Harbor Point 2.0_sml.pdf</string>
					<string>Harbor Point 2.0-4.pdf</string>
					<string>Harbor Point 2.0.pdf</string>
					<string>Harbor_Point_Leasing_Brochure_sml.pdf</string>
					<string>Point Street_UDARP 03_01-21-15 AM Mod_sml.pdf</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
