<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>sponsorship_00.png</string>
		<key>title</key>
		<string>History</string>
		<key>webaddress</key>
		<string>http://beattydevelopment.com</string>
	</dict>
	<dict>
		<key>image</key>
		<string>sponsorship_01.png</string>
		<key>title</key>
		<string>Trends</string>
		<key>webaddress</key>
		<string>http://www.exeloncorp.com/Pages/home.aspx</string>
	</dict>
	<dict>
		<key>image</key>
		<string>supporting_story_1.jpg</string>
		<key>title</key>
		<string>Lifestyle &amp; Culture</string>
	</dict>
</array>
</plist>
