<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>grfx-partners-beatty</string>
		<key>title</key>
		<string>History</string>
		<key>webaddress</key>
		<array>
			<string>http://beattydevelopment.com</string>
			<string>http://harborpoint.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>grfx-partners-jll</string>
		<key>title</key>
		<string>History</string>
		<key>webaddress</key>
		<array>
			<string>http://jll.com</string>
		</array>
	</dict>
	<dict>
		<key>image</key>
		<string>grfx-partners-klnb</string>
		<key>title</key>
		<string>History</string>
		<key>webaddress</key>
		<array>
			<string>http://klnb.com</string>
		</array>
	</dict>
</array>
</plist>
